<!DOCTYPE html>
<html lang="en">
     <head>
        <title>Bánh LaTeX Cloud</title>
        <meta charset='utf-8'>
         
        <link rel="stylesheet" href="codemirror-5.34.0/lib/codemirror.css">
        <script src="codemirror-5.34.0/lib/codemirror.js"></script>
         
        <link rel="stylesheet" href="https://use.typekit.net/trv8qnb.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="codemirror-5.34.0/mode/markdown/markdown.js"></script>
    </head>
    <body>
        <div id="menu">
            <ul class="menu">
                <li><a href="/">bánh<span id="cloud">CLOUD</span></a></li>
                <div class="right">
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </div>
            </ul>
        </div>
        <h1 contenteditable="true">Untitled Document</h1>
        <div id="editor">   
        </div>
        <embed src="../demo.pdf" />
        <script>
            var myCodeMirror = CodeMirror(document.getElementById("editor"), {
              value: "# Is Life a Dream?\nOr is it a simulation?\n",
              mode:  "markdown",
              viewportMargin: Infinity
            });
         </script>
    </body>
</html>