<!DOCTYPE html>
<html lang="en">
     <head>
        <title>Bánh LaTeX Cloud</title>
        <meta charset='utf-8'>
         
	{% assets "cm_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <!--<link rel="stylesheet" href="codemirror-5.34.0/lib/codemirror.css">
        <script src="codemirror-5.34.0/lib/codemirror.js"></script>-->
	{% assets "cm_js" %}
	    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
        <script>
            function newXMLHTTPRequest(content){
                var req = new XMLHttpRequest();
                req.onreadystatechange = function(){
                    if(this.readyState == 4 && this.status == 200){
                        var d = new Date();
                        var n = d.getTime();
                        {% assets "preview" %}
                        var embed = document.getElementById("documentReader")
                        var clone=embed.cloneNode(true);
                        clone.setAttribute('src', "{{ASSET_URL}}"+"?time="+n);
                        embed.parentNode.replaceChild(clone,embed);
                        {% endassets %}
                        console.log("Done! Woo!");
                    }
                }
                req.open("POST", "/update", true);
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                req.send("content="+content);
            }
        </script>
         
        <link rel="stylesheet" href="https://use.typekit.net/trv8qnb.css">
	{% assets "css_all" %}
	    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <!--<link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="codemirror-5.34.0/mode/markdown/markdown.js"></script>-->
    </head>
    <body>
        <div id="menu">
            <ul class="menu">
                <li><a href="/">bánh<span id="cloud">CLOUD</span></a></li>
                <div class="right">
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </div>
            </ul>
        </div>
        <h1 contenteditable="true">Untitled Document</h1>
        <div id="editor">   
        </div>
	{% assets "preview" %}
           <embed src="{{ASSET_URL}}" id="documentReader"/>
	{% endassets %}
        <script>
            var myCodeMirror = CodeMirror(document.getElementById("editor"), {
              value: "# Is Life a Dream?\nOr is it a simulation?\n",
              mode:  "markdown",
              viewportMargin: Infinity,
              lineWrapping: true
            });
            var pending;
            myCodeMirror.on("changes", function(){
                clearTimeout(pending);
                pending = setTimeout(update, 600);
                console.log("values changed");
            });
            function update(){
                var content = myCodeMirror.getValue();
                newXMLHTTPRequest(content);
            }
         </script>
    </body>
</html>
